.venv/
__pycache__/
*.pyc
.env

data/vectorstore/*
!data/vectorstore/.gitkeep
data/memory/*
!data/memory/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

.pytest_cache/
*.egg-info/
experiments/results/*
!experiments/results/.gitkeep

.ipynb_checkpoints/
.vscode/
*.log